<!DOCTYPE html>
<html>
<head>
	<title>Chat board</title>
	
	<!-- EXTERNAL STYLING -->
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	
	<!-- BOOTSTRAP 4 CDN    -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
     <!-- FONT AWESOME CDN 	 -->
	 <script src="https://kit.fontawesome.com/7fe6b58c32.js"></script>
	 
	 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body id="bodyelem">
	
	<nav class="navbar navbar-expand-md navbar-light" id="navbar">
		<div class="container">
			<a id="navbar-brand" class="navbar-brand" href="#" >Textify</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul id="home-link" class="navbar-nav mr-auto">
		 <li class="nav-item active">
             <a id="home-button-link" class="nav-link" href="#">Because Text Messaging Rocks</a>
         </li>
	</ul>
    </div>
 </div>
      
</nav>
	
	

