<% include ./partials/header %>
  
<div class="container" id="upper-container">
	<div class="main-container">
    <form action="/"  method="POST">
      <div class="form-group">
        <label for="exampleInputnumber" id="home-label"><strong>Enter Phone number:</strong></label>
        <input type="number" class="form-control" id="exampleInputnumber" aria-describedby="emailHelp" placeholder="Enter Number" name="mobnum">
    
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   </div>
	
</div>

<% include ./partials/footer %>